page-perfil-detalle {
  .scroll-content{
    background-color: #F0f0f0;
  }
  .user h1 {
    color: #fff;
    margin: 10px 0 20px;
    text-align: center;
  }

  .card-md p {
    margin: 0 0 2px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #fff;
}
}
